body {
  margin: 0;
  background-color: rgb(3, 3, 20);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding-top: 5px;
  justify-content: space-between;
  background-color: rgb(3, 3, 20);
  padding-left: 90px;
  box-shadow: 2px 2px 4px rgb(148, 124, 236);
  padding-right: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
h1 {
  font-family:'Courier New', Courier, monospace;
  background: -webkit-linear-gradient(rgb(240, 29, 127), rgb(219, 21, 245), rgb(58, 18, 238), rgb(28, 202, 233), rgb(22, 231, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(255, 255, 255); */
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
h1:hover {
  transition: 0.4s;
  cursor: pointer;
}
ul {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
li {
  font-size: 20px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
a {
text-decoration: none;
}
li:hover {
  background: -webkit-linear-gradient(rgb(240, 29, 127), rgb(219, 21, 245), rgb(58, 18, 238), rgb(28, 202, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* li a:not(.active):hover {
  background: -webkit-linear-gradient(rgb(240, 29, 127), rgb(219, 21, 245), rgb(58, 18, 238), rgb(28, 202, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.menu-button {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 30px;
}
.menu-button span {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.main {
  width: 100%;
  margin: auto;
  margin-top:100px;
  position: relative;
}
.intro {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;
  justify-content: center;
  margin-bottom: 300px;
}

.me {
  margin:10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reach-out {
  font-size: 25px;
  font-family: "Vivaldi Italic";
  color: rgb(6, 7, 49);
  padding:10px;
  border: none;
  border-radius: 10px;
  background-color: yellow;
  margin-bottom: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.reach-out:hover {
  background-color: orange;  
  color: white;
}
h3 {
  font-size: 20px;
  word-spacing: 10px;
  font-family: "century Regular";
  color: white;
  text-align: center;
}
.profile-picture {
  width: 204px;
  height: 300px;
  border-radius: 100px;
  z-index: 10;
}
.style {
  position: relative;
  margin: 10px;
  width: 210px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid white; */
  border-radius: 120px;
  background:rgb(6, 7, 49);
  overflow: hidden;
}
.style::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 340px;
  animation: animate 5s linear infinite;
  background: linear-gradient(to right, rgb(243, 35, 104), rgb(238, 39, 178), rgb(97, 23, 233), rgb(17, 14, 185), rgb(33, 174, 230));
}
.style::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: rgb(6, 7, 49);
  border-radius: 16px;
}
@keyframes animate {
  0% 
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.projects{
  padding-top: 150px;
}
.skill-set{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill{
  padding: 20px;
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill p {
  font-size: 17px;
  color: rgb(167, 164, 164);
}

.skill-icon {
  width: 120px;
}

.About {
  padding-top: 150px;
}
.container {
  margin-bottom: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery {
  width: 120px;
}
.header {
  font-size: 40px;
  font-family: "Script MT Bold";
  color: white;
  text-align: center;
}
.bio {
  width: 700px;
}
.bio p {
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: rgb(167, 164, 164);
  letter-spacing: 3px;
}
.photo {
  width: 100%;
}
.contact {
  padding-top: 150px;
  padding-bottom: 350px;
  display: grid;
  justify-items: center;
}
.contact p {
  color: white;
  text-align: center;
}
.for-business p{
  color: rgb(167, 164, 164);
  padding: 20px;
}
.footer {
  color: rgb(160, 156, 156);
  text-align: center;
  font-size: 14px;
}



@media screen and (max-width: 900px) { 
  .menu-button {
    display: flex;
  }

  .nav-bar{
    background-color: rgb(3, 3, 20);
    flex-direction: column;
    align-items: start;
    padding:0px;
    box-shadow: none;
  }

  .nav-bar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-color: rgb(14, 14, 41);
    /* position: absolute;
    transition: all 0.5s ease-out;
    -webkit-transition: all .3s ease; */
  }

  .nav-bar ul.menu-open {
    display: flex;
  }

  .intro {
    padding-top: 70px;
    margin-top: 70px;
  }

  .me {
    width: 60%;
  }

  .bio {
    width: 500px;
  }
  .bio p {
    text-align:center;
    font-size: 17px;
    padding: 20px;
  }

  .skill-set {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skill{
    padding:10px;
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-icon {
    width: 70px;
  }

  .skill p{
    font-size: 14px;
  }
  .footer {
    font-size: 12px;
  }
}
